<%- include('../partials/doc-start', {title: 'Albums'}) %>

<%- include('../partials/navigation', {title: 'Music', search: true, back: true, active: 'albums'}) %>

<main class="wrapper">
  <%- include('../partials/header', {state: 'gradient', title: 'All Albums'}) %>
</main>

<%- include('../partials/doc-end', {file: 'albums'}) %>