<%- include('../partials/doc-start', {title: 'Album Details'}) %>

<%- include('../partials/navigation', {title: 'Album', search: false, back: true, active: 'albums'}) %>

<main class="wrapper">
  <%- include('../partials/header', {state: 'light', title: ''}) %>
</main>
<%- include('../partials/doc-end', {file: ''}) %>