<%- include('../partials/doc-start', {title: 'Categories'}) %>

<%- include('../partials/navigation', {title: 'Categories', search: true, back: true, active: 'categories'}) %>

<main class="wrapper">
  <h1 class="header header_primary">
    Categories
  </h1>

  <ul class="category-list">

  </ul>


</main>

<template id="category">
  <li class="category-list__item">
    <details class="category-list__dropdown">
      <summary class="category-list__item-title">genre 01</summary>
      <ul class="category-list__sublist">

      </ul>
    </details>
  </li>

  <template id="category-item">
    <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 01</a></li>
  </template>
</template>

<%- include('../partials/doc-end', {file: 'categories'}) %>