<%- include('../partials/doc-start', {title: 'Categories'}) %>

<%- include('../partials/navigation', {title: 'Categories', search: true, back: true, active: 'categories'}) %>

<main class="wrapper">
  <h1 class="header header_primary">
    Categories
  </h1>

  <ul class="category-list">
    <li class="category-list__item">
      <details class="category-list__dropdown">
        <summary class="category-list__item-title">genre 01</summary>
      <ul class="category-list__sublist">
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 01</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 02</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 03</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 04</a></li>
      </ul>
      </details>
    </li>
    <li class="category-list__item">
      <details class="category-list__dropdown">
        <summary class="category-list__item-title">genre 01</summary>
      <ul class="category-list__sublist">
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 01</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 02</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 03</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 04</a></li>
      </ul>
      </details>
    </li>
    <li class="category-list__item">
      <details class="category-list__dropdown">
        <summary class="category-list__item-title">genre 01</summary>
      <ul class="category-list__sublist">
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 01</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 02</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 03</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 04</a></li>
      </ul>
      </details>
    </li>
    <li class="category-list__item">
      <details class="category-list__dropdown">
        <summary class="category-list__item-title">genre 01</summary>
      <ul class="category-list__sublist">
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 01</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 02</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 03</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 04</a></li>
      </ul>
      </details>
    </li>
    <li class="category-list__item">
      <details class="category-list__dropdown">
        <summary class="category-list__item-title">genre 01</summary>
      <ul class="category-list__sublist">
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 01</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 02</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 03</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 04</a></li>
      </ul>
      </details>
    </li>
    <li class="category-list__item">
      <details class="category-list__dropdown">
        <summary class="category-list__item-title">genre 01</summary>
      <ul class="category-list__sublist">
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 01</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 02</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 03</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 04</a></li>
      </ul>
      </details>
    </li>
    <li class="category-list__item">
      <details class="category-list__dropdown">
        <summary class="category-list__item-title">genre 01</summary>
      <ul class="category-list__sublist">
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 01</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 02</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 03</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 04</a></li>
      </ul>
      </details>
    </li>
    <li class="category-list__item">
      <details class="category-list__dropdown">
        <summary class="category-list__item-title">genre 01</summary>
      <ul class="category-list__sublist">
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 01</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 02</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 03</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 04</a></li>
      </ul>
      </details>
    </li>
    <li class="category-list__item">
      <details class="category-list__dropdown">
        <summary class="category-list__item-title">genre 01</summary>
      <ul class="category-list__sublist">
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 01</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 02</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 03</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 04</a></li>
      </ul>
      </details>
    </li>
    <li class="category-list__item">
      <details class="category-list__dropdown">
        <summary class="category-list__item-title">genre 01</summary>
      <ul class="category-list__sublist">
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 01</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 02</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 03</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 04</a></li>
      </ul>
      </details>
    </li>
    <li class="category-list__item">
      <details class="category-list__dropdown">
        <summary class="category-list__item-title">genre 01</summary>
      <ul class="category-list__sublist">
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 01</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 02</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 03</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 04</a></li>
      </ul>
      </details>
    </li>
    <li class="category-list__item">
      <details class="category-list__dropdown">
        <summary class="category-list__item-title">genre 01</summary>
      <ul class="category-list__sublist">
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 01</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 02</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 03</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 04</a></li>
      </ul>
      </details>
    </li>
    <li class="category-list__item">
      <details class="category-list__dropdown">
        <summary class="category-list__item-title">genre 01</summary>
      <ul class="category-list__sublist">
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 01</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 02</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 03</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 04</a></li>
      </ul>
      </details>
    </li>
    <li class="category-list__item">
      <details class="category-list__dropdown">
        <summary class="category-list__item-title">genre 01</summary>
      <ul class="category-list__sublist">
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 01</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 02</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 03</a></li>
        <li class="category-list__subitem"><a href="" class="category-list__subitem-link">subgenre 04</a></li>
      </ul>
      </details>
    </li>
  </ul>


</main>

<template id="feature-card">
  <article class="feature-card feature-card__background lazyLoad-background" data-image="http://placekitten.com/500/600">
    <h2 class="feature-card__title">The Greatest Showman</h2>
    <h3 class="feature-card__type">Soundtrack</h3>
    <a href="#soundtrack" class="feature-card__link"></a>
    </article>
</template>

<%- include('../partials/doc-end') %>