<%- include('../partials/doc-start', {title: ''}) %>

<%- include('../partials/navigation', {title: 'Featured', search: true, back: false, active: 'featured'}) %>

<main class="featured">
  <h1 class="header header_primary">
    Featured
  </h1>
</main>





<%- include('../partials/doc-end') %>