<%- include('../partials/doc-start', {title: ''}) %>

<%- include('../partials/navigation', {title: 'Featured', search: true, back: false, active: 'featured'}) %>

<main class="wrapper">
  <h1 class="header header_primary">
    Featured
  </h1>

  <div class="featured-card-grid">

  </div>


</main>

<template id="feature-card">
  <article class="feature-card feature-card__background lazyLoad-background" data-image="http://placekitten.com/500/600">
    <h2 class="feature-card__title">The Greatest Showman</h2>
    <h3 class="feature-card__type">Soundtrack</h3>
    <a href="#soundtrack" class="feature-card__link"></a>
    </article>
</template>

<script src="/assets/scripts/index.js" type="module" defer></script>

<%- include('../partials/doc-end') %>