<%- include('../partials/doc-start', {title: 'Playing...', bodyClass: '_no-bot-nav', resources: ['<script src="https://sdk.scdn.co/spotify-player.js"></script>']}) %>

<%- include('../partials/navigation', {title: 'Playing', search: false, back: true, active: false, stayWhite: true}) %>

<main class="wrapper" data-is-playing="false">
  <img class="album-img" src="http://placehold.it/300">
  <div class="artist-img">
    <div class="ratio ratio--square ratio--circle artist-img__image">
      <img class="ratio__img" src="http://placehold.it/300" width="300" height="300">
    </div>
    <div class="artist-img__pulse pulse">
      <div class="pulse__ring" style="--pulse-no: 0;"></div>
      <div class="pulse__ring" style="--pulse-no: 1;"></div>
    </div>
  </div>

  <h1 class="song">
    <span class="song__detail song__detail--name">
      Dance For Me
    </span>
    <span class="song__detail song__detail--artist">Never Seen Baby</span>
  </h1>

  <div class="song-progress">
    <input type="range" class="song-progress__bar" value="30" max="180"> <!-- Value is current timestamp in seconds. Max is current timestamp in seconds. -->
    <div class="song-progress__timestamp song-progress__timestamp--curent">0:30</div>
    <div class="song-progress__timestamp song-progress__timestamp--max">3:00</div>
  </div>

  <div class="controls">
    <button class="controls__icon controls__icon--skip-backward"></button>
    <button class="controls__icon controls__icon--scrub-backward"></button>
    <button class="controls__icon controls__icon--play"></button>
    <button class="controls__icon controls__icon--scrub-forward"></button>
    <button class="controls__icon controls__icon--skip-forward"></button>
  </div>
</main>

<%- include('../partials/doc-end', {file: 'player'}) %>