<%- include('../partials/doc-start', {title: 'Playlists', bodyClass: 'bg_playlist', resources: ['<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" media="screen">']}) %>

<%- include('../partials/navigation', {title: 'Playlists', search: true, back: true, active: 'playlists', stayWhite: true}) %>

<main class="wrapper">
  <%- include('../partials/header', {state: 'light', title: 'Playlists'}) %>

  <div class="carousel">

    <ul class="carousel__track">

    </ul>

  </div>

  <article class="playlist-info">
    <div class="loading"></div>
  </article>
</main>

<template id="carousel-cell">
  <li class="carousel__cell" data-playlistId="">
    <div class="ratio ratio_square carousel__cell-content"><img src="" data-lazysrc="http://placekitten.com/200/300?image=1" alt="" class="ratio__img carousel__cell-image"></div>
  </li>
</template>

<template id="playlist-info">
  <h1 class="playlist-info__title"></h1>

  <ol class="playlist-info__list">

  </ol>

  <button class="playlist-info__listen">Listen All</button>

  <template id="track">
    <li class="playlist-info__list-track track">
      <a href="" class="track__link">

        <button class="track__play"><i class="fas fa-play"></i></button>
        <div class="track__title"></div>
        <div class="track__artist"></div>
        <div class="track__detail">
          <span class="track__min"></span><span class="track__colon">:</span><span class="track__sec"></span>
        </div>

      </a>
    </li>
  </template>
</template>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<%- include('../partials/doc-end', {file: 'playlists'}) %>