<%- include('../partials/doc-start', {title: 'Playing...'}) %>

<%- include('../partials/navigation', {title: 'Playing', search: false, back: true, active: false}) %>

<main class="wrapper">
</main>

<%- include('../partials/doc-end', {file: ''}) %>