.music-section {
  margin-bottom: 1rem;

  &:first-of-type &__start {
      padding-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &__start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
  }

  &__title {
    @include typography(h6);
  }

  &__link {
    @include typography(m);
    @include gradientClip;
    text-decoration: none;
  }
}

.thumbnails {
  display: flex;
  overflow-y: scroll;
  margin: 0 -25px 0 0;

  &::after {
    content: '';
    display: block;
    padding-right: 5px;
  }

  &__item {
    margin-right: 15px;
    background: linear-gradient(to top, $gradient-red); //placeholder background
    flex: 1 0 130px;
    max-width: 130px;
    max-height: 130px;
    height: 100vh;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    @include shadow;

    &:before {
      position: relative;
      display: block;
      content: "";
      padding-top: 100%;
    }

    &-img, &-link {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.album-list {

  &__item {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 0 16px;
    align-items: center;
    grid-template-areas:
    "img name count"
    "img artist count";
    position: relative;

    margin-bottom: 1rem;
    &:last-of-type {
      margin-bottom: 0;
    }

    &-img-container {
      grid-area: img;
      border-radius: 2px;
      overflow: hidden;
      position: relative;
      display: block;
      padding-top: 100%;
      height: 0;
      background: linear-gradient(to top, $gradient-red); //placeholder background
    }

    &-name {
      grid-area: name;
      display: block;
      align-self: flex-end;
      @include typography(h6);
      @extend %oneline;
    }
    &-artist {
      grid-area: artist;
      display: block;
      align-self: flex-start;
      @include typography(s);
      @extend %oneline;

    }
    &-song-count {
      grid-area: count;
      display: block;
      text-align: right;
      @include typography(s)
    }

    &-img, &-link {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}