.featured-card-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.feature-card {
  --card-bg: linear-gradient(to bottom, #{$gradient-red});

  height: 100vh;
  max-height: 425px;
  background-image: linear-gradient(to bottom, $gradient-black), var(--card-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $color-secondary-light;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 45px 20px;
  position: relative;
  @include shadow(l);

  &__title {
    position: relative;
    margin-top: auto;
    @include typography(h3);
    margin-bottom: 0.5rem;
    @extend %oneline;
  }

  &__type {
    position: relative;
    @include typography(s);
    @extend %oneline;
  }

  &__link {
    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
}