.header {
  @include typography(h2);
  margin-bottom: 1.75rem;

  &_gradient {
    @include gradientClip();
  }

  &_light {
    color: $color-secondary-light;
  }

  &_dark {
    color: $color-secondary-dark;
  }
}