.nav {
  position: relative;

  &_fixed {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  &bar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px ($padSide - 7.5);
    list-style: none;
    align-items: center;
    left: 0;
    right: 0;

    &_top {
      color: var(--color-text);
      @include typography(m);
      top: 0;

      &.navbar_light {
        --color-text: #{$color-secondary-light};
      }
    }

    &_bot {
      box-shadow: 0px 10px 30px 10px var(--color-shadow);
      background: var(--color-navbar);
      margin-top: auto;
      @include typography(l);
      bottom: 0;
      min-height: 71px;
    }

    &__title {
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 10px;
      margin: 0 10px;
    }

    &__link {
      cursor: pointer;
      background: none;
      border: none;
      display: block;
      font-family: inherit;
      font-size: inherit;
      padding: 5px 7.5px;

      i {
        @include gradientClip();
        color: transparent;
      }

      &_highlight i {
        background: var(--color-text);
        background-clip: text;
      }

      &_featured {
        position: relative;

        i {
          background: var(--color-navbar);
          background-clip: text;
          z-index: 1;
          position: relative;
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(to right, $gradient-red);
          border-radius: 50%;
        }

        &.navbar__link_highlight {
          i {
            @include gradientClip();
          }

          &::before {
            background: var(--color-text);
          }
        }
      }

    }
  }
}