.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.album-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.8);
}

.artist-img {
  width: 100%;
  max-width: 300px;
  margin: auto;
  padding: 2.5rem;
  position: relative;

  &__image {
    z-index: 1;
  }

  &__pulse {
    --gradient-point: 80%;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.pulse__ring {
  --pulse-duration: 2s;
  --pulses: 2;
  --pulse-no: 0;
  --pulse-delay: calc((var(--pulse-duration) / var(--pulses)) * var(--pulse-no));
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  margin: auto;
  background-color: $color-primary;
  animation-name: pulse;
  animation-timing-function: cubic-bezier(0,.75,1,.83);;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-duration: var(--pulse-duration);
  animation-delay: var(--pulse-delay);
  width: 100%;
  height: 100%;

  [data-is-playing="false"] & {
    animation-play-state: paused;
  }

  [data-is-playing="true"] & {
    animation-play-state: running;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.7);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.song {
  margin-bottom: 1.5rem;

  &__detail {
    text-align: center;
    color: $color-secondary-light;
    display: block;

    &--name { @include typography(h5) }
    &--artist { @include typography(m) }
  }
}

.song-progress {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__bar {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    height: 3px;
    width: 100%;
    display: block;

    margin-bottom: 0.75rem;

    &::-webkit-progress-bar {
      background: $color-primary;
    }

    &::-webkit-progress-value {
      background-color: $color-primary;
      background-image: linear-gradient(to right, $gradient-red);
    }

    &::-moz-range {
      &-track {
        background: $color-primary;
      }

      &-progress {
        background-color: $color-primary;
        background-image: linear-gradient(to right, $gradient-red);
      }

      &-thumb {
        background-color: $color-primary;
        border: none;
        box-shadow: 0 0 0 0.33rem #{rgba($color-primary, 0.3)};
      }
    }

    &::-webkit-slider {
      &-thumb {
        background-color: $color-primary;
        border: none;
        border-radius: 50%;
        -webkit-appearance: none;
        width: 1rem;
        height: 1rem;
        box-shadow: 0 0 0 0.33rem #{rgba($color-primary, 0.3)};
      }

      &-container {
        background: $color-primary;
      }
    }

  }

  &__timestamp {
    color: $color-secondary-light;
  }
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;


  &__icon {
    cursor: pointer;
    background: none;
    border: none;
    color: $color-secondary-light;
    margin: 0 0.5rem;
    padding: 0.5rem;

    &::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      width: 1.25em;
      text-align: center;
      line-height: 1;
      content: var(--icon);
    }

    &--play {
      font-size: 3em;
      color: $color-primary;

      &::before {
        @include gradientClip;
      }

      [data-is-playing="false"] &::before {
        --icon: '\f04b';
      }

      [data-is-playing="true"] &::before {
        --icon: '\f04c';
      }
    }

    &--scrub-backward::before {
      --icon: '\f04a'
    }

    &--scrub-forward::before {
      --icon: '\f04e'
    }

    &--skip-backward::before {
      --icon: '\f048'
    }

    &--skip-forward::before {
      --icon: '\f051'
    }
  }
}