.bg_playlist {
  background-image: url(/assets/images/sound-wave.svg);
  background-repeat: no-repeat;
  background-size: 129% 250px;
  background-position: top center;
}

.carousel {
  width: 100vw;
  margin-left: ($padSide * -1);
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @include shadow(s);


  &__track {
    list-style: none;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 500px;
  }

  &__cell {
    --gap: 40px;
    display: block;
    width: 50%;
    max-width: calc(155px + var(--gap));
    padding: 0 calc(var(--gap) / 2);
    transform: scale(0.8);
    transition: transform 0.2s ease;

    @media screen and (min-width: 501px) {
      --gap: 30px;
      width: 33%;
    }

    &-content {
      border-radius: 4px;
    }

    &.is-selected {
      transform: scale(1);
    }
  }
}

.playlist-info {
  margin: 0 ($padSide * -1);
  background-color: var(--color-background);
  padding: 0.25rem $padSide 0;

  &__title {
    @include typography(h5);
    text-align: center;
    margin-bottom: 2rem;
  }

  &__list {
    list-style: none;
  }

  &__listen {
    width: 100%;
    background: none;
    border: 3px solid $color-primary;
    border-radius: 50px;
    min-height: 3.5rem;
    color: $color-primary;
    @include typography(h6);
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-family: inherit;
  }
}

.track {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 0.2rem 1rem;
  align-items: center;
  grid-template-areas:
  "play title detail"
  "play artist detail";
  position: relative;

  margin-bottom: 1.25rem;
  &:last-of-type {
    margin-bottom: 3rem;
  }

  &__link {
    display: contents;
    color: var(--color-text);
  }

  &__play {
    grid-area: play;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    justify-self: end;
    border: none;
    background: linear-gradient(to right, $gradient-red);
    color: var(--color-text);

    @include typography(xs);
  }

  &__detail {
    grid-area: detail;
    text-align: right;
    justify-self: start;
    @include typography(s)
  }

  &__title {
    grid-area: title;
    @include typography(h6);
    @extend %oneline;
  }
  &__artist {
    grid-area: artist;
    @include typography(s);
    @extend %oneline;
  }
}