html {
  overflow: hidden;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
  height: calc(100% - 140px);
  margin: 70px 0 70px 0;
  background: var(--color-background);
  font-family: 'Poppins', sans-serif;
  color: var(--color-text);

  // hide scrollbar
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.wrapper {
  padding: 0px 25px 45px;
}