// colors
$color-primary: #FF1168;
$color-secondary-dark: #341931;
$color-secondary-light: #FFFFFF;
$color-tertiary: #111625;

$color-menu-1: #D70060;
$color-menu-2: #E54028;
$color-menu-3: #F18D05;
$color-menu-4: #F2BC06;
$color-menu-5: #5EB11C;
$color-menu-6: #3A7634;
$color-menu-7: #0ABEBE;
$color-menu-8: #00A1CB;
$color-menu-9: #115793;

$gradient-red: #EE0979,
#FF6A00;
$gradient-blue: #00A1CB,
#115793;
$gradient-green: #5EB11C,
#3A7634;
$gradient-black: #00000000 50%,
#111111 100%;

// typography
@mixin typography($size: m) {
  line-height: 1.5;

  @if $size==h1 {
    font-size: 3rem;
    font-weight: 700;
  }

  @if $size==h2 {
    font-size: 2.25rem;
    font-weight: 700;
  }

  @if $size==h3 {
    font-size: 2rem;
    font-weight: 700;
  }

  @if $size==h4 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  @if $size==h5 {
    font-size: 1.25rem;
    font-weight: 700;
  }

  @if $size==h6 {
    font-size: 0.9375rem;
    font-weight: 700;
  }

  @if $size==l {
    font-size: 1.25rem;
  }

  @if $size==m {
    font-size: 0.9375rem;
    font-weight: 300;
  }

  @if $size==s {
    font-size: 0.75rem;
    font-weight: 300;
  }

  @if $size==xs {
    font-size: 0.625rem;
    font-weight: 300;
  }
}

@mixin gradientClip() {
  background: linear-gradient(to right, $gradient-red);
  background-clip: text;
  color: transparent;
}