// colors
$color-primary: #FF1168;
$color-secondary-dark: #341931;
$color-secondary-light: #FFFFFF;
$color-tertiary: #111625;

$gradient-red: #EE0979,
#FF6A00;
$gradient-blue: #00A1CB,
#115793;
$gradient-green: #5EB11C,
#3A7634;
$gradient-black: #00000000 50%,
#111111 100%;

// sizing
$padSide: 25px;


// typography
@mixin typography($size: m) {
  line-height: 1.5;

  @if $size==h1 {
    font-size: 3rem;
    font-weight: 700;
  }

  @if $size==h2 {
    font-size: 2.25rem;
    font-weight: 700;
  }

  @if $size==h3 {
    font-size: 2rem;
    font-weight: 700;
  }

  @if $size==h4 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  @if $size==h5 {
    font-size: 1.25rem;
    font-weight: 700;
  }

  @if $size==h6 {
    font-size: 0.9375rem;
    font-weight: 700;
  }

  @if $size==l {
    font-size: 1.25rem;
    font-weight: 300;
  }

  @if $size==m {
    font-size: 0.9375rem;
    font-weight: 300;
  }

  @if $size==s {
    font-size: 0.75rem;
    font-weight: 300;
  }

  @if $size==xs {
    font-size: 0.625rem;
    font-weight: 300;
  }
}

@mixin gradientClip() {
  background: linear-gradient(to right, $gradient-red);
  background-clip: text;
  color: transparent;
}

@mixin shadow($size: s) {
  @if $size==l {
    filter: drop-shadow(0px 0px 20px var(--color-shadow)) drop-shadow(0px 3px 5px var(--color-shadow)) drop-shadow(0px 2px 1px var(--color-shadow));
}
  @if $size==s {
    filter: drop-shadow(0px 3px 3px var(--color-shadow)) drop-shadow(0px 2px 2px var(--color-shadow)) drop-shadow(0px 1px 1px var(--color-shadow));
  }
}

%oneline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}